body {
    font-family: Roboto, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #1f2937;
    flex-wrap: wrap;

}
.right-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    gap: 80px;
    color: #fff;
    flex-wrap: wrap;

}
ul {
    list-style-type: none;
}
.header,
.left-header {
    display: flex;


}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    margin-inline-start: 28px;
    padding: 0;

}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.container-hero, p {
    font-size: 18px;
    color: #e5e7eb;
}
.container-hero {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 20px 20px;
    background-color: #1f2937;
    color: #fff;
    flex-wrap: wrap;
}

.container-hero-left {
    width: 500px;
}

button {
    background-color: #3882f6;
    color: #fff;
    text-align: center;
    font-weight: 300;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    margin-block-start: 20px;
}
.sign-up:hover {
    background-color: #0dc0ec;

}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information {
    display: flex;
    justify-content: center;
}
.info {
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px;
    padding-block-end: 50px;

}

.info img {
    border: #3882f6 solid;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;

}
.info .text {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-block: 75px;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 5px;
    padding-block-end: 0;
}

.quote b {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 28px;
    color: #1f2937;

}
.container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    border-radius: 8px;
    background-color: #3882f6;
    width: 800px;
    height: 150px;
    object-fit: cover;
    margin: 100px auto;
}

.container-bottom p {
    font-size: 22px;
    font-weight: 700;
}

.footer {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 5px 20px;
    background-color: #1f2937;
}